<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.InventoryMapper">

    <select id="getBookAll" resultType="ca.usherbrooke.gegi.server.business.Book">
        select sigle,
               book_id,
               label,
               codeisbn,
               author_id,
               editor_id,
               publicationdate,
               format_id,
               url,
               language_id,
               image_id
        from public.book
        where book_id = 1;
    </select>


    <select id="requestBooksFromTitle" resultType="ca.usherbrooke.gegi.server.business.ListedBooks">
        select book_label,
               isbn_label,
               author_label,
               sigle_label,
               program_label
        from recherche_par_titre_view -- change for title
        where unaccent(LOWER(book_label)) like ('%' || unaccent(LOWER( #{title} )) || '%')
        order by book_label desc;
    </select>


    <select id="requestBooksFromIsbn" resultType="ca.usherbrooke.gegi.server.business.ListedBooks">
        select book_label,
               isbn_label,
               author_label,
               sigle_label,
               program_label
        from recherche_par_ISBN_view
        where isbn_label = #{isbn}
        --where unaccent(LOWER(isbn_label)) like ('%' || unaccent(LOWER( #{isbn} )) || '%')
        order by isbn_label desc;
    </select>

    <select id="requestBooksFromSigle" resultType="ca.usherbrooke.gegi.server.business.ListedBooks">
        select book_label,
               isbn_label,
               author_label,
               sigle_label,
               program_label
        from recherche_par_sigle_view
        where unaccent(LOWER(sigle_label)) like ('%' || unaccent(LOWER( #{sigle} )) || '%')
        order by sigle_label desc;
    </select>

    <select id="requestBooksFromProgram" resultType="ca.usherbrooke.gegi.server.business.ListedBooks">
        select book_label,
               isbn_label,
               author_label,
               sigle_label,
               program_label
        from recherche_par_programme_view
        where unaccent(LOWER(program_label)) like ('%' || unaccent(LOWER( #{program} )) || '%')
        order by program_label desc;
    </select>

    <select id="requestBooksFromAP" resultType="ca.usherbrooke.gegi.server.business.ListedBooks">
        select book_label,
               isbn_label,
               author_label,
               sigle_label,
               program_label
        from recherche_par_ap_view
        where unaccent(LOWER(ap_label)) like ('%' || unaccent(LOWER( #{topic} )) || '%')
        order by ap_label desc;
    </select>



    <select id="requestBooksFromAuthor" resultType="ca.usherbrooke.gegi.server.business.ListedBooks">
        select book_label,
               isbn_label,
               author_label,
               sigle_label,
               program_label
        from recherche_par_autheur_view
        where unaccent(LOWER(author_label)) like ('%' || unaccent(LOWER( #{author} )) || '%')
        order by author_label desc;
    </select>

    <select id="requestBooksFromLanguage" resultType="ca.usherbrooke.gegi.server.business.ListedBooks">
        select book_label,
               isbn_label,
               author_label,
               sigle_label,
               program_label
        from recherche_par_langue_view
        where unaccent(LOWER(language_label)) like ('%' || unaccent(LOWER( #{language} )) || '%')
        order by language_label desc;
    </select>

</mapper>
