<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.InventoryMapper">

    <select id="getBook" resultType="ca.usherbrooke.gegi.server.business.Book">
        select sigle,
               book_id,
               label,
               codeisbn,
               author_id,
               editor_id,
               publicationdate,
               format_id,
               url,
               language_id,
               image_id
        from public.book
        where book_id = 1;
    </select>

    <select id="getBookISBN" resultType="ca.usherbrooke.gegi.server.business.Book">
        select sigle,
               book_id,
               label,
               codeisbn,
               author_id,
               editor_id,
               publicationdate,
               format_id,
               url,
               language_id,
               image_id
        from public.book
        where codeisbn = #{isbn};
    </select>

    <select id="getBookFromID" resultType="ca.usherbrooke.gegi.server.business.Book">
        select sigle,
               book_id,
               label,
               codeisbn,
               author_id,
               editor_id,
               publicationdate,
               format_id,
               url,
               language_id,
               image_id
        from public.book
        where book_id = #{idBook};
    </select>

    <select id="getBookFromSigle" resultType="ca.usherbrooke.gegi.server.business.Book">
        select sigle,
               book_id,
               label,
               codeisbn,
               author_id,
               editor_id,
               publicationdate,
               format_id,
               url,
               language_id,
               image_id
        from public.book
        where sigle = #{sigleBook};
    </select>


</mapper>
